* { box-sizing: border-box; }
body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}
section{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
}
h1 { font-weight: bold; margin: 0; font-size: 24px; }
h2 { text-align: center; }

p {
  font-size: 12px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
span { font-size: 12px; }
a {
  color: #333;
  font-size: 12px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 10px;
  border: 1px solid #3e5ecc;
  background-color: #3e5ecc;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
button:active { transform: scale(0.95); }
button:focus { outline: none; }
form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.logo img{
    position: absolute;
    top: 20px;
    left: 110px;
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%, 49.99% { opacity: 0; z-index: 1; }
  50%, 100% { opacity: 1; z-index: 5; }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transition: transform 0.6s ease-in-out;
  
}
.overlay-left { 
  transform: translateX(-20%); 
   background-image: url('/assets/right-back.jpg');

  background-size: cover;
}
.container.right-panel-active .overlay-left { 
  transform: translateX(0); 
}
.overlay-right { 
  right: 0; 
  transform: translateX(0); 
  background-image: url('/assets/right-back.jpg');
  background-size: cover;
}
.container.right-panel-active .overlay-right { 
  transform: translateX(20%); 
}
.social-container { margin: 20px 0; }
.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.social-container i{
    color: black;
}
.login-category{
  display: block;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
}
.login-category button{
  width: 160px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  border-radius: 10px;
}
.back-btn{
  background-color: white;
  border: 2px solid navy;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.back-btn i{
  color: navy;
}
button.ghost {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #000000;
  font-size: 12px;
  padding: 10px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
}
.btn-space{
  width: 20px;
  height: 20px;
}
footer {
  text-align: center;
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}