.empty-state {
  text-align: center;
  color: #6b7280;
  padding: 20px;
}
 
.empty-state p {
  font-size: 15px;
  color: #6b7280;
  line-height: 1.6;
  max-width: 500px;
  margin: 0 auto;

}
.content-box {
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  height: 500px;
   background-size: 140px;
  /* background-image: url('https://linckia.cdn.greythr.com/assets/empty-payslip-state.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
footer {
  text-align: center;
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}