

*{
      font-style: arial;
  font-size: 0.80rem;
line-height: 1.125rem;
}
.attendance‑management-container {
  /* padding: 16px; */
  /* width: 78%; */
  /* padding: auto; */
  margin: 12px;
  border: 1px solid red;
}

.subnav {
  margin-bottom: 16px;
}

.subnav a {
  margin-right: 12px;
  text-decoration: none;
  color: #555;
}

.subnav a.active {
  font-weight: bold;
  color: #000;
}

.subpage-content {
  border: 1px solid #d7d3d3;
  /* padding: 16px; */
  width: 100%;
  /* justify-content: space-between; */
  background-color: #fff;
}
