<nav class="navbar">
  <div class="navbar-left">
    <img src="../../assets/logo.png" alt="Logo" class="navbar-logo" />
  </div>

  <div class="page-title">{{ pageTitle }}</div>

  <div class="navbar-icons">
    <button title="Quick Links" class="icon-btn">
      <i class="fas fa-list"></i>
    </button>

    <button title="Notifications" class="icon-btn">
      <i class="fas fa-bell"></i>
    </button>
    <button title="Logout" (click)="logout()" class="icon-btn">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</nav>
